html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main-contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header-text {
  grid-column: 2/3;
}
