html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 60.5%;
  padding: 0;
  margin: 0;
  font-family: "Butterfly Kids", cursive;
}

header {
  min-height: 100vh;
  background-image: url(../assets/fe-ngo-bvx3G7RkOts-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  color: #eff1db;
}
