.top {
  max-height: 20vh;
  width: 25vw;
  margin: auto;
  padding: 5px;
  border-radius: 55%;
  text-align: center;
  letter-spacing: 2px;
  background-color: black;
  opacity: 0.7;
  margin-bottom: 15px;
}

.top:hover {
  color: orange;
  background-color: steelblue;
}

h1 {
  font-size: 3rem;
  color: yellow;
}

h1:hover {
  color: orange;
}
